.Tag-list {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
  overflow-y: auto;
}

.Tag-list {
  margin-bottom: 10px;
}

.Tag-list .Tag-add {
  display: flex;
  margin-bottom: 10px;
}
.Tag-list .Tag-add > input {
  flex: 3;
}
.Tag-list .Tag-add > button {
  flex: 1;
  margin: 8px 0px;
  margin-left: 20px;
}

.Tag-list .Tag {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  height: 28px;
}
.Tag-list .Tag:hover {
  background-color: var(--hover-background-color);
}
.Tag-list .Tag > .checkbox {
  flex: 1;
}

.Tag-list .List {
  flex: 1 1 auto;
  height: 0px;
}
.Tag-list .Remove {
  margin: 0px 10px;
}
.Tag-list .Remove:hover {
  color: #bd362f;
}