.Bookmark-header {
  display: flex;
  font-size: 20px;
}
.Bookmark-header > :first-child {
  margin: 0px 10px;
}

.Bookmark-header .Bookmark-item {
  min-width: 300px;
  max-width: 600px;
  padding: 4px 8px;
  font-size: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--secondary-background-color);
}
.Bookmark-header .Bookmark-item:hover {
  background-color: var(--hover-background-color);
}
.Bookmark-header .Bookmark-item > span {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.Bookmark-header .Bookmark-item .Remove:hover {
  color: var(--error-color);
}
