.Path-header {
  flex: 1;
  position: relative;
  margin-right: 10px;
  font-size: 20px;
  display: flex;
  padding: 10px;
}
.Path-header-inner {
  width: 0px;
  flex: 1 1 auto;
  cursor: pointer;
  display: flex;
  overflow-x: auto;
}
.Path-header-disk {
  padding: 0px 5px;
}

.Segment-container {
  display: flex;
  flex-direction: row;
}
.Segment {
  white-space: nowrap;
}
.Segment:hover {
  background-color: grey;
}