.Path-header {
  flex: 1;
  position: relative;
  margin-left: 10px;
  display: flex;
}
.Path-header-inner {
  width: 0px;
  flex: 1 1 auto;
  cursor: pointer;
  display: flex;
  overflow-x: auto;
}
.Path-header-disk {
  padding: 0px 5px;
}

.Segment {
  white-space: nowrap;
}
.Segment:hover {
  background-color: grey;
}