.Path-header {
  position: relative;
  margin-left: 10px;
}
.Path-header-inner {
  cursor: pointer;
  display: flex;
  overflow-x: auto;
}
.Path-header-disk {
  padding: 0px 5px;
}

.Segment {
  white-space: nowrap;
}
.Segment:hover {
  background-color: grey;
}