.File-node {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  font-size: calc(10px + 0.8vmin);
}

.File-node:hover {
  background-color: grey;
}

.icon {
  width: calc(10px + 2vmin);
  display: flex;
  flex-direction: row;
  align-items: center;
}
