.Dropdown {
  position: absolute;
  opacity: 0;
  pointer-events: none;
  overflow: hidden;
  transition: opacity 0.2s ease-out;
  top: 100%;
  right: 0;
}
.Dropdown.open {
  opacity: 1;
  pointer-events: all;
}
.Dropdown-item {
  cursor: pointer;
}
.Dropdown-item:hover {
  background-color: #4d5157;
}