.Dropdown {
  position: absolute;
  opacity: 0;
  overflow: hidden;
  transition: opacity 0.2s ease-out;
  top: calc(100% + 2px);
  left: 0;
  box-shadow: 0 0 12px #333;
}
.Dropdown.open {
  opacity: 1;
}
.Dropdown-inner {
  border: 1px solid grey;
  background-color: #282c34;
  cursor: pointer;
}
.Dropdown-item:hover {
  background-color: #4d5157;
}