.Notification {
  position: fixed;
  z-index: 1;
  right: 0;
  bottom: 0;
}

.Notification .Item {
  margin: 15px 20px;
  padding: 15px 10px;
  max-width: 300px;
  width: 300px;
  border-radius: 5px;
  opacity: 0.9;
  box-shadow: 0 0 12px #333;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.Notification .Item:hover {
  box-shadow: 0 0 12px #000;
  opacity: 1;
}

.Notification .Item > span {
  font-size: 20px;
}
.Notification .Item > .Icon {
  font-size: 28px;
  margin-right: 10px;
}

.Notification .Item.Success {
  background-color: var(--success-color);
}
.Notification .Item.Info {
  background-color: var(--info-color);
}
.Notification .Item.Warning {
  background-color: var(--warning-color);
}
.Notification .Item.Error {
  background-color: var(--error-color);
}
